:root {
  --control-background-color: #181b24;
  --control-border-color: #393b4a;
  --control-text-color: #bfbfbf;
  --control-text-primary-color: #a1aeb3;
  --control-checked-background-color: #00b1b8;
  --el-color-primary: #00b1b8;
  --el-border-color-base: rgba(0, 177, 184, 0.25);
  --el-border-color-light: #393b4a;
}

.el-header {
  height: 40px;
  --el-header-padding: 0;
}

.el-main {
  --el-main-padding: 0;
}

/* 弹窗样式覆写 start */

.el-dialog {
  --el-dialog-width: 30%;
  background: #242730;
  box-shadow: 0 16px 32px -6px rgba(4, 8, 16, 64%), 0 3px 8px -2px rgba(4, 8, 16, 48%), 0 0 1px rgba(4, 8, 16, 32%);
  border-radius: 8px;
}

.el-dialog .el-dialog__title {
  color: rgba(255, 255, 255, 70%);
  font-size: 14px;
  font-weight: 600;
}
.el-dialog .el-dialog__headerbtn {
  top: 12px;
}
.el-dialog .el-dialog__headerbtn .el-dialog__close {
  font-size: 16px;
  color: rgba(255, 255, 255, 70%);
  transition: transform 0.3s linear;
}
.el-dialog .el-dialog__headerbtn .el-dialog__close:hover {
  transform: rotate(180deg);
}
.el-dialog .el-dialog__body {
  padding: 20px;
  color: rgba(255, 255, 255, 70%);
}
.el-dialog .el-dialog__footer {
  padding: 10px 20px 12px;
  font-weight: 600;
}

/* 弹窗样式覆写 end */

/* el-input样式覆写 start */

.el-input__wrapper,
.el-textarea__inner,
.el-checkbox__inner,
.el-input-number__decrease,
.el-input-number__increase,
.el-radio-button__inner,
.el-color-picker__trigger,
.el-radio__inner,
.el-tabs__item {
  background-color: rgba(204, 219, 255, 0.06);
  border-color: var(--control-border-color);
}

/* el-input样式覆写 end */

.el-popper.is-light {
  border: none;
}
.el-popover.el-popper {
  min-width: 80px;
}
.download-btn {
  --el-bg-color-overlay: rgba(36, 39, 48, 0.7);
  --el-text-color-regular: rgba(255, 255, 255, 0.7);
  width: 100px !important;
  display: flex;
  text-align: center;
  flex-direction: column;
  & > div {
    padding: 4px;
    cursor: pointer;
    text-align: center;
    &:hover {
      color: #00b1b8;
    }
  }
}
